* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.banner {
    width: 100%;
}
.banner img {
    width: 100%;
    height: auto;
    display: block;
}

.videos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.videos video {
    width: 20%;   
    height: auto;
}


.sliders {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}
.slider {
    width: 80%;
    height: 200px;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.titulo-slider h2 {
    font-size: 3em;
    text-align: center;
    color: white;
    animation: brilho 2s infinite alternate;
    margin: 40px 0;
}
@keyframes brilho {
    from { text-shadow: 0 0 5px #fff; }
    to { text-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000; }
}


.texto-longo {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}

.video-grande {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}
.video-grande video {
    width: 80%;
    height: auto;
}


.imagens-pequenas {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.imagens-pequenas img {
    width: 30%;
    height: auto;
}

  
