
* { 
 margin: 0;
 padding: 0; 
 box-sizing: border-box; 
} 
 .banner-topo { 
  width: 100%; 
  text-align: center;
 } 
.banner-topo img {
 width: 100%; 
 height: auto; 
 display: block;
} 
.area-videos { 
 display: flex; 
 justify-content: center; 
 gap: 20px;
 margin: 40px 0;
}

.videos-centro video {
 width: 15%; 
 height: auto; 
 border: 3px solid #ffffff; 
 border-radius: 8px; 
 box-shadow: 0 0 15px #ff0000, 0 0 25px #ff0000; 
}


.gif-container {
 display: flex;
 justify-content: center;
 margin: 20px 0;
}
.gif-container img { 
 max-width: 80%;
 height: auto;
} 
.slider {
 width: 80%;
 height: 200px;
 background: #333;
 color: #ffffff; 
 display: flex; 
 justify-content: center;
 align-items: center; 
 margin: 20px auto; 
} 

.banner-topo {
 width: 100%; 
 text-align: center;
} 

.fundo-preto h2 {
 font-size: 5em;
 text-align: center; 
 color: #ff0000;
  animation: pulsar 2s infinite alternate;
 margin: 40px 0;
 }

@keyframes pulsar {
 0% { 
  transform: scale(1); 
  color: #ff0000; 
  text-shadow: 0 0 10px #ff0000;
 }

 50% {
  transform: scale(1.1);
  color: #00ff00; 
  text-shadow: 0 0 20px #00ff00;
 }


100% { 
transform: scale(1.2);
color: #0000ff;
text-shadow: 0 0 30px #0000ff;
   } 
}


.fundo-preto {
 background-color: #000;
 color: #fff;
 width: 100%;
 padding: 40px 20px; 
 text-align: center;
}

.complemento p {
 margin-bottom: 10px; } 


.video-centro video[width] { 
 width: 80%;
 max-width: 1250px; 
 height: auto; 
 display: block; 
 margin: 40px auto;
} 
.galeria-final { 
 display: flex; 
 justify-content: center;
 gap: 20px;
 margin: 40px 0;
 }
.galeria-final img {
 width: 30%;
 height: auto;
}
 
