

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.banner-topo {
    width: 100%;
    text-align: center;
}
.banner-topo img {
    width: 100%;
    height: auto;
    display: block;
}


.area-videos {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.video-centro video {
    width: 200px;
    height: auto;
}


.gif-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.gif-container img {
    max-width: 80%;
    height: auto;
}


.slider {
    width: 80%;
    height: 200px;
    background: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}


.fundo-preto {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 40px 20px;
    text-align: center;
}
.fundo-preto h2 {
    margin-bottom: 20px;
}
.complemento p {
    margin-bottom: 10px;
}


.video-centro video {
    width: 80%;
    max-width: 1250px;
    height: auto;
    display: block;
    margin: 40px auto;
}

.galeria-final {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 40px 0;
}
.galeria-final img {
    width: 30%;
    height: auto;
}
